<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                
                <div class="form-group">
                    <label for="nombreA">Nombre de los datos</label>
                    <input type="text" class="form-control" id="nombreA" name="nombreA" [(ngModel)]="nombreA" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Descripcion de sus datos</label>
                    <input type="text" class="form-control" id="descripcionA" name="descripcionA" [(ngModel)]="descripcionA" required>
                </div>
                <button class="btn btn-primary">
                    Agregar dato
                </button>
            </form>
        </div>
    </div>
</div>