<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="banner" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="https://connect.unity.com/p/pandemia"><img src="../../../assets/pandemiar.png" alt="" id="PandemiAR"> </a>
                <a href="https://www.instagram.com/daianasoledadg_/"><img src="../../../assets/instagram.png" alt="" id="instagram"> </a>
                <a href="https://github.com/daianasg1"><img src="../../../assets/github.png" alt="" id="github"> </a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingresar</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>
                </div>
        </div>
    </div>
</div>
